<p id="notice"><%= notice %></p>

<h1>Listing Order Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Orderid</th>
      <th>Listofitems</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_users.each do |order_user| %>
      <tr>
        <td><%= order_user.username %></td>
        <td><%= order_user.orderID %></td>
        <td><%= order_user.listOfItems %></td>
        <td><%= link_to 'Show', order_user %></td>
        <td><%= link_to 'Edit', edit_order_user_path(order_user) %></td>
        <td><%= link_to 'Destroy', order_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order user', new_order_user_path %>
